<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    htll
    <img src='https://www.google.com/imgres?imgurl=https%3A%2F%2Fstorage.googleapis.com%2Fgd-wagtail-prod-assets%2Foriginal_images%2Fevolving_google_identity_2x1.jpg&imgrefurl=https%3A%2F%2Fdesign.google%2Flibrary%2Fevolving-google-identity%2F&tbnid=UtqmH5kH0Oy8LM&vet=12ahUKEwiapOSyn_DwAhU5sUsFHV8nCOEQMygBegUIARDVAQ..i&docid=4aQ0r7NfC0dsEM&w=2432&h=1216&q=google&client=ubuntu&ved=2ahUKEwiapOSyn_DwAhU5sUsFHV8nCOEQMygBegUIARDVAQ' alt="">
    <a href="https://www.qries.com/">
        <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
        width=150" height="70">
</body>
</html>